.navbar-default .navbar-toggle {
  background: #EEC856;
}
.navbar-default .navbar-toggle:hover {
  background: #f6d570;
}
.navbar-default .navbar-header .navbar-toggle:active,
 .navbar-default .navbar-header .navbar-toggle:focus {
  background: #bf9518;
}
.navbar-header .navbar-toggle .icon-bar {
  background: $secondary-color;
}

@media (max-width: $screen-sm-min) {
  nav.navbar {
    background: rgba(0, 0, 0, 0.7);
  }
}
