.service-card {
  margin: 20px 0 30px;
  text-align: center;
}
.service-card__icon {
  display: block;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 5px;
}
.service-card__title {
  margin-bottom: 10px;
}

@media (min-width: 450px) and (max-width: 768px) {
  .service-card__content {
    padding: 0 15%;
  }
}
@media (min-width: $screen-sm-min) {
  .service-card {
    height: 265px;
    overflow: hidden;
  }
}
